<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>

<body>

<h1>로그인</h1>
<div th:replace="/fragment/layout.html :: fragment-body-menu"></div>

<div>
    <form method="post" action="/member/login">
        <div>
            <input type="email" name="username" placeholder="아이디를 입력하세요."
                   required/>
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호를 입력하세요."
                   required/>
        </div>

        <span><p th:text="${errorMessage}"></p></span>

        <div>
            <br/>
            <button type="submit">로그인</button>
        </div>
    </form>
</div>

</body>
</html>