<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.commerce.mapper.ProductMapper">

    <sql id="selectListWhere">
        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'productName'">
                    and product_name like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'price'">
                    and price like concat('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    and
                    (
                    product_name like concat('%', #{searchValue}, '%')
                    or
                    price like concat('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>

    </sql>

    <select id="selectListCount" resultType="long">
        select count(*)
        from product
        where 1 = 1
        <include refid="selectListWhere"/>
    </select>

    <select id="selectList" resultType="com.example.commerce.dto.ProductDto">
        select *
        from product
        where 1 = 1
        <include refid="selectListWhere"/>

        limit #{pageStart}, #{pageEnd}
    </select>

</mapper>
